* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./media/images/garden_bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.2fr 0.4fr fr 0.1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #d8cce8;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black,
    1px -1px 0 black;
  letter-spacing: 0.05rem;
}

header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-items: center;
  font-size: 1rem;
}

main {
  grid-column: 2/3;
  grid-row: 3/4;
}
#main-clicker {
  height: 25vh;
}

#main-clicker:hover {
  transform: scale(1.1);
}

#main-clicker:active {
  transform: scale(1);
}

#main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

div {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  grid-column: 1/3;
}

.btn {
  font-size: 0.8rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  background-color: #d8cce8;
  padding: 0.6rem 0;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 200px;
  letter-spacing: 0.05rem;
}

.btn:hover {
  background-color: #b6a2cf;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

#upgrades-section {
  padding: 1rem;
  border: 3px solid black;
  background-color: rgb(182, 162, 207, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, fr);
  gap: 10px;
  margin-top: 20px;
}

footer {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-items: center;
}

#restart-btn {
  background-color: rgb(255, 217, 0);
  padding: 0.6rem 0.3rem;
  margin: 1rem;
}

#restart-btn:hover {
  background-color: rgb(255, 153, 0);
}

@media (min-width: 1080px) {
  body {
    font-size: 1.6rem;
    background-size: cover;
    height: 100%;
  }
  header {
    font-size: 2rem;
  }
  .btn {
    max-width: 300px;
  }
  #upgrades-section {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, fr);
    gap: 20px;
  }
  h2 {
    grid-column: 1/6;
  }
  #main-clicker {
    height: 38vh;
  }
  p {
    font-size: 2rem;
  }
  div {
    width: 50rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
